.header {
  padding-top: 12px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: white;

  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 700px) {
      flex-wrap: wrap;
      gap: 0;
    }
  }

  .btns {
    display: flex;
    gap: 8px;
  }
}