.main__content {
  margin-top: 48px;
  overflow-x: hidden;
  .hero {
    display: flex;
    max-width: 1128px;

    .title {
      font-size: 48px;
      font-weight: 400;
      line-height: 60px;
    }

    .hero__left {
      width: 50%;
    }

    .hero__right {
      width: 50%;
    }
  }
}